 <section class="course-description">
    <div class="row">
         <div class="lined-title columns large-12 medium-12 small-12">
            <div class="gray-line1"></div>
            <p class="lined-title-name">All Courses</p>
            <div class="gray-line2"></div>
        </div>
    </div>

    <div class="row course-overview">
          <div class="columns large-8 medium-8 small-12">
                <!-- <div class="icon-options"><img src="~/media/D29BF9861CEC45EFBE4EF4FFFAEE44C1.ashx" alt=""></div> --><div class="course-title"><a name="introductiontobusiness"></a><h4>Introduction to Business</h4><p class="credits mobileonly"><span>3</span> credits</p></div>
                <p class="ace-desc">This course provides an understanding of the various facets of business and the challenges businesses face in a global environment such as competition and economics. Accounting, technology and information systems, marketing and management are examined through the phases of starting and growing a business. Management of financial and human resources along with the ethical and social responsibilities of business are examined. </p>
                <a (click)="reqsDropDown()" class="reqs-a" href="">Course Requirements</a>
            </div>
             <div class="columns large-4 medium-4 small-12 desktoponly">
               <p class="credits"><span>3</span> credits</p>
               <!--<button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button>-->
                  <div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div>
              </div> 
            <div class="columns large-12 medium-12 small-12">
                <div class="row">
                   <div class="course-reqs-show closed">
                      <div class="columns large-6 medium-6 small-12">
                        <!--<p><strong>Requires Proctored Exam</strong></p>-->
                        <!--<p><strong>Textbook:</strong><i>The Power of Art</i></p>-->
                        <p><a href="http://lessons.pennfoster.com/pdf/LS5579.pdf" title="Course syllabus (PDF)" target="_blank">Course syllabus (PDF)</a></p>
                      </div>
                      <div class="columns large-6 medium-6 small-12">
                            <p><strong>Computer Specifications:</strong> You will need high-speed internet access to begin your program. You will need access to a Microsoft® Windows® based computer running Windows 7® or later or an Apple® Mac® computer running OS X® or later, and an email account to complete your program with Penn Foster.</p>
                      </div>
                   </div>
                   <div class="columns large-12 medium-12 small-12 mobileonly">
                      <!--<button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button>-->
                         <div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div> 
                   </div>
                </div>
            </div>
    <div class="row course-overview">
          <div class="columns large-8 medium-8 small-12">
              <!-- <div class="icon-options"></div> --><div class="course-title"><a name="economics"></a><h4>Economics I</h4><p class="credits mobileonly"><span>3</span> credits</p></div>
                <p class="ace-desc">This course will provide an overview of macroeconomics and the modern market economy. Law of supply and demand, cost of living, monetary systems, international factors, and short run economic fluctuations will be examined and discussed.</p>
                <a class="reqs-a" href="">Course Requirements</a>
            </div>
             <div class="columns large-4 medium-4 small-12 desktoponly">
               <p class="credits"><span>3</span> credits</p>
               <!-- <button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button> -->
                 <div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div>
               </div>
            <div class="columns large-12 medium-12 small-12">
                <div class="row">
                   <div class="course-reqs-show closed">
                      <div class="columns large-6 medium-6 small-12">
                        <p><strong>Requires Proctored Exam</strong></p>
                        <p><strong>Textbook:</strong> <i>Macro Economics</i></p>
                        <p><a href="http://lessons.pennfoster.com/pdf/LS5573.pdf" title="Course syllabus (PDF)" target="_blank">Course syllabus (PDF)</a></p>
                      </div>
                      <div class="columns large-6 medium-6 small-12">
                            <p><strong>Computer Specifications:</strong> You will need high-speed internet access to begin your program. You will need access to a Microsoft® Windows® based computer running Windows 7® or later or an Apple® Mac® computer running OS X® or later, and an email account to complete your program with Penn Foster.</p>
                      </div>
                   </div>
                     <div class="columns large-12 medium-12 small-12 mobileonly">
                       <!-- <button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button> -->
                         <div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div>
                   </div>
                </div>
            </div>

    <app-ace-testimonial></app-ace-testimonial>

        <div class="row course-overview">
          <div class="columns large-8 medium-8 small-12">
             <!--  <div class="icon-options"><div class="new-icon">New</div></div> --><div class="course-title"><a name="principlesofmanagement"></a><h4>Principles of Management</h4><!--<p class="sample">Sample this course</p>--><p class="credits mobileonly"><span>3</span> credits</p></div>
                <p class="ace-desc">This course familiarizes the student with both the business environment and the manager’s role within it. It covers decision making, planning, organizing, leading, and controlling, as well as developing an ethical perspective.</p>
                <a class="reqs-a" href="">Course Requirements</a>
            </div>
             <div class="columns large-4 medium-4 small-12 desktoponly">

               <p class="credits"><span>3</span> credits</p>
                <a href="https://www.pennfoster.edu/enroll/?sh=e&pid=482&refURL=https://www.pennfoster.edu/college/all-programs/college-courses/business" class="button aceenrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a> 
                 <!--<div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div>-->
            </div>
            <div class="columns large-12 medium-12 small-12">
                <div class="row">
                   <div class="course-reqs-show closed">
                      <div class="columns large-6 medium-6 small-12">
                        <!--<p><strong>Requires Proctored Exam</strong></p>-->
                        <p><strong>Textbook:</strong><i>Management: A Real World Approach</i></p>
                        <p><a href="http://lessons.pennfoster.com/pdf/LS5095.pdf" title="Course syllabus (PDF)" target="_blank">Course syllabus (PDF)</a></p>
                      </div>
                      <div class="columns large-6 medium-6 small-12">
                            <p><strong>Computer Specifications:</strong> You will need high-speed internet access to begin your program. You will need access to a Microsoft® Windows® based computer running Windows 7® or later or an Apple® Mac® computer running OS X® or later, and an email account to complete your program with Penn Foster.</p>
                      </div>
                   </div>
                     <div class="columns large-12 medium-12 small-12 mobileonly">
                        <a href="https://www.pennfoster.edu/enroll/?sh=e&pid=482&refURL=https://www.pennfoster.edu/college/all-programs/college-courses/business" class="button aceenrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a> 
                         <!--<div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div>-->
                   </div>
                </div>
            </div>
    </div>