<a name="coursecategories"></a> 
    <section>
     <div class="row ace-categories" id="ace-search">
         <div class="lined-title columns large-12 medium-12 small-12">
            <div class="gray-line1"></div>
            <p class="lined-title-name">Course Categories</p>
            <div class="gray-line2"></div>
        </div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=C9F83EA665FF4ABA8F3AA38BFC758F93&amp;_z=z" title="Business Courses"><div class="category-container"><div class="category-info"><h4 >Business</h4><p>15 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=4E2E36EC0CF444DCA8B43B8E77CC707B&amp;_z=z" title="Human Resources Courses"><div class="category-container"><div class="category-info"><h4 >Human Resources</h4><p>5 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=FD5E2E72BDB9483CA5679D27B168A64D&amp;_z=z" title="Criminal Justice Courses"><div class="category-container"><div class="category-info"><h4 >Criminal Justice</h4><p>16 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=57D44EB408964302831D461CCADC8133&amp;_z=z" title="Marketing Courses"><div class="category-container"><div class="category-info"><h4 >Marketing</h4><p>4 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=167BF5F81CCD422E80DE058853FB6291&amp;_z=z" title="Education Courses"><div class="category-container"><div class="category-info"><h4 >Education</h4><p>17 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=9CE76CE06D894569918B790920FECE64&amp;_z=z" title="Math &amp; Science Courses"><div class="category-container"><div class="category-info"><h4 >Math &amp; Science</h4><p>7 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=6930B61B5DAD4254BBB18BC75692110E&amp;_z=z" title="English Courses"><div class="category-container"><div class="category-info"><h4 >English</h4><p>6 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"><a href="~/link.aspx?_id=DA4C4DE00781479B84C781842CB5B9FC&amp;_z=z" title="Social Courses"><div class="category-container"><div class="category-info"><h4 >Social</h4><p>5 Courses ></p></div></div></a></div>
        <div class="columns large-62 medium-6 small-12"><a href="~/link.aspx?_id=EA35479080184BC7B71663D3E2D874FB&amp;_z=z" title="Finance &amp; Accounting"><div class="category-container"><div class="category-info"><h4 >Finance &amp; Accounting</h4><p>9 Courses ></p></div></div></a></div>
        <div class="columns large-6 medium-6 small-12"></div>
        </div>

</section>