<section class="ace-courses ace-home-slider">
    <div class="row">
        <div class="columns large-12 medium-12 small-12">
            <div class="ace-title"><h2>choose your course</h2><p>We offer over 80 ACE reviewed college courses</p></div>
        </div>
        <div class="lined-title columns large-12 medium-12 small-12">
            <div class="gray-line1"></div>
            <p class="lined-title-name">Featured Courses</p>
            <div class="gray-line2"></div>
        </div>
    </div>
    <div class="row course-blocks desktoponly">
        <div class="columns large-4 medium-4 small-12">
            <div class="ace-course">
                <div class="course-tag">Business</div>
                  <img src="/assets/images/Marketing2.jpg" alt="">
                <div class="course-info"><div class="navy-title">Computer Applications</div><p>Students will learn about PC applications in word processing, spreadsheets, and presentation software, as well as create documents, spreadsheets, and presentations. Students will also learn how to integrate the applications.</p>   <div class="course-ctas"><a href="~/link.aspx?_id=C9F83EA665FF4ABA8F3AA38BFC758F93&amp;_z=z#computerapplications" title="Learn More">Learn More ></a><a href="https://www.pennfoster.edu/enroll/?sh=e&pid=483&refURL=https://www.pennfoster.edu/college/all-programs/college-courses" class="button aceenrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a><!-- <div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div> --></div></div>
                </div>
            </div>
         <div class="columns large-4 medium-4 small-12">
            <div class="ace-course">
                <div class="course-tag">Math &amp; Science</div>
                <img src="/assets/images/SciMath1.jpg" alt="">
                <div class="course-info">   <div class="navy-title">Introduction to Biology</div><p>An introductory course that explains the origin of life and the relationships between all living things, and describes how a significant number of organisms are structured and how they work.</p> <div class="course-ctas"><a href="~/link.aspx?_id=9CE76CE06D894569918B790920FECE64&amp;_z=z#introductiontobiology" title="Learn More">Learn More ></a><!-- <button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button> --><div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div></div>
                </div>
            </div>
         <div class="columns large-4 medium-4 small-12">
            <div class="ace-course">
                <div class="course-tag">Education</div>
                <img src="/assets/images/Education1.jpg" alt="">
                <div class="course-info"> <div class="navy-title">Child Growth and Development</div><p>This course presents a variety of theoretical viewpoints to provide students with a well balanced view of a child’s developmental process, as well as an understanding of the principal topics of child psychology.</p><div class="course-ctas"><a href="~/link.aspx?_id=167BF5F81CCD422E80DE058853FB6291&amp;_z=z#childgrowthanddevelopment" title="Learn More">Learn More ></a><!-- <button class="button enrollnow"><span>Enroll Now</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></button> --><div class="call-enroll">To enroll, call <a href="tel:1-800-238-9554">1-800-238-9554</a></div></div></div>
                </div>
            </div>
    </div>
    <div class="course-blocks-mobile mobileonly"></div>
    </section>
