    <div class="hdr-container">
        <header class="mobileonly mobilehdr">
            <div class="row">
                <div class="small-5 columns mobile-logo"><a href="http://www.pennfoster.edu/high-school" target="_blank" title="Home"><img border="0" src="assets/images/mobile-logo.png"></a></div>
                <div class="small-7 columns mobile-ctas"><a href="tel:1.888.427.6200" title="Telephone"><i class="fa fa-phone"></i></a><a href="http://login.pennfoster.edu" target="_blank" title="Student Login"><i class="fa fa-user"></i></a><button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div>
            </div>
        </header>
        <div class="mobilenav">
        </div>
        <div class="searchbar">
            <div class="row">
                <form action="/api/sitecore/Navigation/ExecuteSearch">
                    <input class="search-query" id="Query" name="Query" title="Search" type="text" value="" placeholder="Search">
                </form>
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="transheader">
            <div class="row">
                <div class="large-6 medium-6 columns trans-offer"><span>Start for $1 and Save $200</span><a href="http://www.pennfoster.edu/admissions/tuition/special-offers" title="More Info">More Info</a></div>
                <div class="large-6 medium-6 columns trans-ctas">
                    <a class="button getinfo" href="http://www.pennfoster.edu/request-info-form"><span>Get Info</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a>
                    <button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
            </div>
        </div>
        <div class="transnav">
        </div>
        <div class="preheader desktoponly">
            <div class="row">
                <div class="large-6 medium-6 columns stu-login"><a href="http://pennfoster.edu" target="_blank" title="Penn Foster">Back to Penn Foster</a></div>
                <div class="large-3 medium-3 columns enroll-today">Enroll Today! 1-800-238-9554</div>
            </div>
        </div>
        <header class="desktoponly">
            <div class="row">
                <div class="large-3 medium-3 columns logo"><a href="http://www.pennfoster.edu/high-school" target="_blank" title="Home"><img border="0" src="/assets/images/careerschool.gif"></a></div>
                <div class="large-9 medium-9 columns hdr-info">
                    <div class="row">
                        <div class="large-12 medium-12 columns hdr-info-bot">
                            <a class="button getinfo" href="http://www.pennfoster.edu/request-info-form"><span>Get Info</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a>
                            <div class="cart"><p>Cart<i class="fa fa-shopping-cart" aria-hidden="true"></i></p></div>
                            <nav>
                                <ul>
                                    <li><a class="closed dropdown" href="#">Course Categories</a>
                                        <ul>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                            <li><a href="#">Test Link Name</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> 
                </div>
            </div>
        </header>
    </div>
