<section class="interior-hero">
      <div class="dark-overlay">
          <div class="row">
              <div class="columns large-12 medium-12 small-12">
                 <div class="banner-text">
                    <div class="main-heading">Business</div>
                    <div class="sub-heading">Courses for College Credit</div>
                 </div>
              </div>
              <div class="columns large-7 medium-7 small-12">
                    <div class="interior-offer">Only <span>$329</span> per course!</div>
              </div>
              <div class="columns large-5 medium-5 small-12">
                      <div class="gray-hero">
                        <h4>What you get:</h4>
                        <ul>
                            <li>Academic support from expert faculty</li>
                            <li>Mobile-friendly lessons</li>
                            <li>Official transcript upon completion</li>
                        </ul>
                        <div class="see-more"><a href="#tabbedarea">See More <i class="fa fa-angle-down" aria-hidden="true"></i></a> </div>
                    </div>
              </div>
          </div>
      </div>
    </section>

<section class="under-hero">
   <div class="row">
     <div class="columns large-7 medium-7 small-12">
       <p>Earn college credits for business courses - including topics such as Economics, Business Law, International Business, and more - with Penn Foster College.  </p>
       <p>Whether you want to get a jump-start on your college education or earn additional credits towards a degree, Penn Foster College is here to help. Study online, at your own time, and receive support when you need it from our expert faculty and staff. </p>
     </div>
   </div>
</section>
