 <a name="tabbedarea"></a>
<section class="tabs-info">
   <div class="row">
       <div class="columns large-12 medium-12 small-12">
            <ul class="tab-options">
                <li><a class="tab-link" href="">What You Get</a></li>
                <li><a class="tab-link"  href="">FAQS</a></li>
                <li><a class="tab-link" href="">Payment</a></li>
                <li><a class="tab-link"  href="">Refund Policy</a></li>
            </ul>
        </div>
        <div class="columns large-12 medium-12 small-12 desk-tabs-div">
            <div class="tab-div info-div-0">
                <p><strong>Your course includes:</strong></p>
                <ul>
                    <li>All textbooks and study materials</li>
                    <li>Mobile-friendly, on-the-go learning experience</li>
                    <li>Academic support from instructors with real-world experience</li>
                    <li>Unlimited student support via email, phone, chat and text</li>
                    <li>24/7 access to Penn Foster's robust <a href="https://community.pennfoster.edu" title="Online Penn Foster Student Community" target="_blank">online student community</a></li>
                    <li>Career planning resources, tools and support</li>
                    <li>Your official transcript upon completion</li>
                </ul>
            </div>
            <div class="tab-div info-div-1">
                <p><strong>Will credits from Penn Foster College transfer into another college degree program?</strong></p>
                <p>Penn Foster College credits have been accepted for transfer into colleges across the country. Students should check with a specific college to see if they accept our credits, as credit transfer can vary depending on the school. Also, the American Council on Education's College Credit Recommendation Service (ACE CREDIT) has evaluated and recommended college credit for many Penn Foster College courses. No form of accreditation guarantees that any learning institution will accept credits from any school as transfer credits. For more information on transferring credits, <a href="~/link.aspx?_id=0F03900BBC6C4618812E5D5EB135D75F&amp;_z=z" title="Information on transferring credits">click here</a>.</p>
                <p><strong>I live in Jamaica. Can I enroll in an individual college course?</strong></p>
                <p>Unfortunately, individual college courses are only available for individuals living in the United States. We do offer a variety of Bachelor, Associate and Undergraduate Certificate programs for non-U.S. residents through our sister school, <a href="http://www.pennfostercollegeintl.com/programs_degrees.html" title="Penn Foster College International" target="_blank">Penn Foster College International</a>.</p>
            </div>
            <div class="tab-div info-div-2">
                <p>Penn Foster College is committed to giving you a quality, affordable education that won't break your budget.</p>
                <p><img alt="" width="309" height="48" src="~/media/404518DEB012465E8AD92FFDFDAE89FF.ashx" /></p>
                    <ul>
                        <li>Visa, Discover, MasterCard or American Express </li>
                        <li>PayPal </li>
                        <li>Checks </li>
                        <li>Money orders </li>
                        <li>Authorized automatic withdrawals from checking and savings accounts from U.S. banks </li>
                    </ul>
            </div>
            <div class="tab-div info-div-3">
                <!--<p>This is the refund policy tab.</p>-->
                <p>At Penn Foster College, we continue to develop new ways to expand and improve student satisfaction. However, if you are not satisfied or can no longer continue your studies, we offer a refund policy. If you cancel within the first 6 days of enrollment, you are eligible to receive a full refund.  After 6 days, your refund will be determined based on how much of your progress you’ve made in your course.</p>

<p>For detailed information on Penn Foster College's refund policy, please <a href="~/link.aspx?_id=54AB0D4C8BF040999E1309A5F0811453&amp;_z=z#collegecourses" title="Refund Policy">click here</a>. </p>
<p>To view a sample enrollment agreement, please <a href="~/link.aspx?_id=E69DA1820708472FA6DCB3973B04FD65&amp;_z=z?v=20170307" title="Sample College Enrollment Agreement" target="_blank">click here</a>.</p>
            </div>
            
        </div>
    </div>
</section>
