 a.facebook {background-image: url(/assets/images/icon-facebook.png); }
 a.twitter {background-image: url(/assets/images/icon-twitter.png) !important;}
 a.google {background-image: url(/assets/images/icon-google-plus-4.png) !important;}
 a.pinterest {background-image: url(/assets/images/icon-pinterest.png) !important;}
 a.linkedin {background-image: url(/assets/images/icon-linkedin.png) !important;}
 a.youtube {background-image: url(/assets/images/icon-youtube.png) !important;}
 a.photo {background-image: url(/assets/images/icon-instagram.png) !important;}

