<footer>
    <div class="row">
        <div class="large-3 medium-3 small-12 columns firstcol">
<div class="ftr-heading">We're Accredited</div>
            <div class="ftr-icons">
                
                <a href="http://www.deac.org/" target="_blank" class="deac" title="DEAC"><img src="assets/images/DEAC-logo-200.png" width="184" alt="DEAC Accreditation Logo"></a>
                <a href="http://www.bbb.org/washington-dc-eastern-pa/business-reviews/correspondence-schools/penn-foster-career-school-in-scranton-pa-235963585/" class="bbb" target="_blank" title="Better Business Bureau"><img src="assets/images/logo-bbb-lg.gif" width="151" alt="BBB"></a>
            </div>
        </div>
        <div class="large-3 medium-3 columns secondcol desktoponly">
<div class="ftr-heading">Quick Links</div>
            <ul class="quicklnk1">
                <li><a title="Penn Foster Home" href="/">Home</a></li>
                <li><a title="All Penn Foster Programs" href="/programs-and-degrees">All Programs</a></li>
                <li><a title="Penn Foster Site Map" href="/sitemap">Site Map</a></li>
                <li><a title="Penn Foster FAQ" href="/why-penn-foster/learning/faq">FAQ</a></li>
                <li><a title="Contact Penn Foster" href="/why-penn-foster/contact-us">Contact Us</a></li>
                <li><a title="Link your site to Penn Foster" href="/link-to-us">Link to Us</a></li>
                <li><a title="Penn  Foster News and Media articles" href="/why-penn-foster/news">News &amp; Media</a></li>
                <li><a title="Penn Foster career opportunities" href="/why-penn-foster/about/careers">Careers @ Penn Foster</a></li>
                <li><a target="_blank" title="Penn Foster Student Login" href="http://login.pennfoster.edu/">Student Login</a></li>
                <li><a target="_blank" title="Visit the Penn Foster Student Community" href="https://community.pennfoster.edu/">Student Community</a></li>
                <li><a target="_blank" title="Penn Foster Comments and Suggestions" href="http://pennfoster.custhelp.com/app/ask_student_solutions_center">Student Solutions</a></li>
                <li><a title="Penn Foster Refund Policy" href="/admissions/refund-policy">Refund Policy</a></li>
                <li><a target="_blank" title="Visit the Bookstore for Penn Foster items" href="https://bookstore.pennfoster.com/">Bookstore</a></li>
            </ul>      
        </div>
        <div class="large-6 medium-6 small-12 columns thirdcol">
<div class="ftr-heading desktoponly">Connect with us</div>
<div class="ftr-social desktoponly">
<ul class="social" style="display: inline;">
    <li><a target="_blank" title="facebook" href="https://www.facebook.com/pennfostereducation" class="facebook">facebook</a></li>
    <li><a target="_blank" title="twitter" href="https://twitter.com/PennFoster" class="twitter">twitter</a></li>
    <li><a target="_blank" title="google+" href="https://plus.google.com/+pennfoster/posts" class="google">google</a></li>
    <li><a target="_blank" title="pinterest" href="http://www.pinterest.com/pennfoster/" class="pinterest">pinterest</a></li>
    <li><a target="_blank" title="linkedin" href="http://www.linkedin.com/company/penn-foster" class="linkedin">linkedin</a></li>
    <li><a target="_blank" title="youtube" href="http://www.youtube.com/pennfoster" class="youtube">youtube</a></li>
    <li><a target="_blank" title="instagram" href="http://web.stagram.com/n/pennfoster" class="photo">instagram</a></li>
    <!--<li><a target="_blank" title="snapchat" href="http://www.snapchat.com/pennfoster" class="snapchat">snapchat</a></li>-->
</ul>
</div>
<div class="ftr-heading desktoponly">Divisions</div>
<ul class="desktoponly">
    <li><a href="/high-school" title="Penn Foster High School">Penn Foster High School</a></li>
    <li><a href="/career-school" title="Penn Foster College">Penn Foster Career School</a></li>
    <li><a target="_blank" title="ICS Canada" href="https://www.icslearn.ca/">ICS Canada</a></li>
    <li><a target="_blank" title="Workforce Solutions" href="http://partners.pennfoster.edu/">Workforce Solutions</a></li>
    <li><a target="_blank" title="Penn Foster International" href="http://www.pennfosterglobal.com/">Penn Foster International</a></li>
    <li><a href="/military" title="Military">Military</a></li>
</ul>
<div class="newcopyinfo"><strong><span>Penn Foster College</span><br>Administrative Office<br>14300 N. Northsight Blvd., Suite 125, Scottsdale, AZ 85260 USA <a href="tel:18002389554" title="Telephone" class="phonenumber desktoponly">1-800-238-9554</a></strong><br>
© <script language="JavaScript">
   var d=new Date();
    yr=d.getFullYear(); 
     document.write(yr);
</script>2017 Penn Foster Inc. All Rights Reserved.<span class="desktoponly"> <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a> | <a href="/copyright-and-terms" title="Terms of Use">Terms of Use</a></span></div>
</div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns ftr-copy">
            
        </div>
    </div>
</footer>