
 
        <header class="ace-cart">
           <div class="row">
             <div class="columns large-6 medium-6"><img class="logo" src="images/cart-logo.gif" alt=""></div>
             <div class="columns large-6 medium-6"><img class="secure" src="images/cart-secure.gif" alt=""></div>
           </div>
        </header>
        <div class="cart-paths">
            <div class="row">
                <div class="columns large-12 medium-12 small-12">
                   <ul>
                     <li class="c-path">
                       <div class="circle">1</div>
                       <p>Edit Your Cart</p>
                     </li>
                      <li class="c-path">
                       <div class="circle">2</div>
                       <p>Personal Details</p>
                     </li>
                      <li class="c-path">
                       <div class="circle">3</div>
                       <p>Payment Options</p>
                     </li>
                     <li class="c-path">
                       <div class="circle">4</div>
                       <p>Review Order</p>
                     </li>
                      <li class="c-path">
                       <div class="circle">5</div>
                       <p>Sign Enrollment</p>
                      </li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12 medium-12 small-12">
                <div class="ace-title">
                    <h2>checkout</h2>
                </div>
            </div>
        </div>
        <div class="cart-accordion">
            <div class="row">
                <div class="columns large-12 medium-12 small-12">
                    <div class="cart-section">
                        <a href=""><div class="cart-title active">Edit Your Cart</div></a>
                        <div class="cart-form">
                            <div class="row">
                                <div class="lined-title columns large-12 medium-12 small-12">
                                    <div class="gray-line1"></div>
                                    <p class="lined-title-name">Keep In Mind...</p>
                                    <div class="gray-line2"></div>
                                </div>
                                        <div class="columns large-3 medium-3 small-12">
                                    <div class="cart-rules">
                                        <div class="red-circle"></div>
                                        <div><p>Choose only <span>up to 5 courses</span> to purchase.</p></div>
                                    </div>
                                </div>
                                  <div class="columns large-3 medium-3 small-12">
                                    <div class="cart-rules">
                                        <div class="red-circle"></div>
                                        <div><p><span>Select the order</span> in which you would like to take your courses below.</p></div>
                                    </div>
                                </div>
                                  <div class="columns large-3 medium-3 small-12">
                                    <div class="cart-rules">
                                        <div class="red-circle"></div>
                                        <div><p>Select what <span>course materials format</span> you'd like to receive.</p></div>
                                    </div>
                                </div>
                                  <div class="columns large-3 medium-3 small-12">
                                    <div class="cart-rules">
                                        <div class="red-circle"></div>
                                        <div><p>These courses are not available for students <span>outside of the US.</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-contents">
                                <div class="row">
                                    <div class="columns large-2 medium-2 small-12">
                                        <p>Order</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p>Title</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p>Materials Format</p>
                                    </div>
                                    <div class="columns large-4 medium-4 small-12">
                                        <p>Cost</p>
                                    </div>
                                </div>
                                <div class="cart-item">
                                  <div class="row">
                                    <div class="columns large-2 medium-2 small-12">
                                        <input>
                                        <!-- add arrow and input and logic to increase and decrease, cannot be 0-->
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p class="title">Title of this Course</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <input>
                                        <!-- dropdown if applicable else hide and show not applicable-->
                                    </div>
                                    <div class="columns large-4 medium-4 small-12">
                                        <p class="cost">$329.00</p>
                                        <div class="remove"><p>Remove</p><div class="blue-circle"><span>x</span></div> </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="pricing">
                                <div class="row">
                                    <div class="columns large-offset-6 medium-offset-6 large-6 medium-6 small-12">
                                            <p>Subtotal</p>
                                            <p class="cost">$658.00</p>
                                    </div>
                                    <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                        <p>Voucher</p>
                                        <input type="text"><a href="" class="button course-search-btn">Apply</a>
                                    </div>
                                    <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                        <p>Total</p>
                                        <p class="cost">$658.00</p>
                                    </div>
                                </div>
                            </div>

                                <div class="continue-section">
                                    <div class="row">
                                        <div class="columns large-12 medium-12 small-12">
                                            <div class="validation-error">Please fix the errors above to proceed.</div>
                                        </div>
                                        <div class="columns large-12 medium-12 small-12">
                                            <a href=""> Add Another Course</a>
                                            <div class="reminder">You'll have the chance to review your choices and your enrollment will be reviewed before any payment is collected.</div>
                                            <a href="" class="button aceenrollnow">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="cart-section">
                        <a href=""><div class="cart-title inactive">Enter Your Personal Details</div></a>
                        <div class="cart-form">
                           <div class="personal-details">
                            <div class="row">
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="first-name">Student First Name</label>
                                    <input id="first-name" name="first-name" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="last-name">Student Last Name</label>
                                    <input id="last-name" name="last-name" type="text">
                                </div>
                                 <div class="columns large-6 medium-6 small-12">
                                    <label for="email">Email</label>
                                    <input id="email" name="email" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="confirm-email">Confirm Email</label>
                                    <input id="confirm-email" name="confirm-email" type="text">
                                </div>
                                  <div class="columns large-6 medium-6 small-12">
                                      <div class="row">
                                           <div class="columns large-6 medium-6 small-12">
                                                <label for="phone-number">Phone Number</label>
                                                <input id="phone-number" name="phone-number" type="text">
                                            </div>
                                            <div class="columns large-6 medium-6 small-12">
                                                <input type="radio" name="mobile-phone" id="mobile-phone" value="mobile">
                                                <label for="mobile-phone">Mobile</label>
                                                <input type="radio" name="home-phone" id="home-phone" value="home">
                                                <label for="home=phone">Home</label>
                                            </div>
                                     </div>
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                  <div class="row">
                                       <div class="columns large-6 medium-6 small-12">
                                            <label for="gender">Gender</label>
                                            <select id="gender" name="gender">
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                           </select>
                                        </div>
                                        <div class="columns large-6 medium-6 small-12">
                                            <label for="dob">Date of Birth</label>
                                            <input id="dob" name="dob" type="text">
                                       </div>
                                   </div>
                                </div>
                                   <div class="columns large-6 medium-6 small-12">
                                    <label for="address">Address</label>
                                    <input id="address" name="address" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="address-2">Address 2 (optional)</label>
                                    <input id="address-2" name="address-2" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="city">City</label>
                                    <input id="city" name="city" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                  <div class="row">
                                       <div class="columns large-6 medium-6 small-12">
                                            <label for="state">State</label>
                                           <select id="state" name="state">
                                              <option value="AK">AK</option>
                                              <option value="AL">AL</option>
                                              <option value="AR">AR</option>
                                              <option value="AZ">AZ</option>
                                              <option value="CA">CA</option>
                                              <option value="CO">CO</option>
                                              <option value="CT">CT</option>
                                              <option value="DC">DC</option>
                                              <option value="DE">DE</option>
                                              <option value="FL">FL</option>
                                              <option value="GA">GA</option>
                                              <option value="HI">HI</option>
                                              <option value="IA">IA</option>
                                              <option value="ID">ID</option>
                                              <option value="IL">IL</option>
                                              <option value="IN">IN</option>
                                              <option value="KS">KS</option>
                                              <option value="KY">KY</option>
                                              <option value="LA">LA</option>
                                              <option value="MA">MA</option>
                                              <option value="MD">MD</option>
                                              <option value="ME">ME</option>
                                              <option value="MI">MI</option>
                                              <option value="MN">MN</option>
                                              <option value="MO">MO</option>
                                              <option value="MS">MS</option>
                                              <option value="MT">MT</option>
                                              <option value="NC">NC</option>
                                              <option value="ND">ND</option>
                                              <option value="NE">NE</option>
                                              <option value="NH">NH</option>
                                              <option value="NJ">NJ</option>
                                              <option value="NM">NM</option>
                                              <option value="NV">NV</option>
                                              <option value="NY">NY</option>
                                              <option value="OH">OH</option>
                                              <option value="OK">OK</option>
                                              <option value="OR">OR</option>
                                              <option value="PA">PA</option>
                                              <option value="RI">RI</option>
                                              <option value="SC">SC</option>
                                              <option value="SD">SD</option>
                                              <option value="TN">TN</option>
                                              <option value="TX">TX</option>
                                              <option value="UT">UT</option>
                                              <option value="VA">VA</option>
                                              <option value="VT">VT</option>
                                              <option value="WA">WA</option>
                                              <option value="WI">WI</option>
                                              <option value="WV">WV</option>
                                              <option value="WY">WY</option>
                                            </select>
                                        </div>
                                        <div class="columns large-6 medium-6 small-12">
                                            <label for="zipcode">ZIP Code</label>
                                            <input id="zipcode" name="zipcode" type="text">
                                       </div>
                                       <div class="columns large-12 medium-12 small-12">
                                          <p>These courses are not available for students outside the US.</p>
                                       </div>
                                   </div>
                                </div>
                                 <div class="columns large-6 medium-6 small-12">
                                    <label for="educationlevel">Highest Level of Education</label>
                                    <input id="educationlevel" name="educationlevel" type="text">
                                </div>
                                 <div class="columns large-6 medium-6 small-12">
                                    <div class="row">
                                        <div class="columns large-12 medium-12 small-12">
                                            <input id="returning-stu" name="returning-stu" type="checkbox"><label for="returning-stu">I am a returning Penn Foster <a href="">student</a></label>
                                        </div>
                                        <div class="columns large-6 medium-6 small-12 input-left">
                                            <label for="studentid">Student ID</label>
                                            <input id="studentid" name="studentid" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="marketing-optional">
                                <div class="row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="hear-about-us">How Did You Hear About Us? (optional)</label>
                                        <select id="hear-about-us" name="hear-about-us">
                                            <option value="Email">Email</option>
                                            <option value="Google">Google</option>
                                            <option value="Ad">Ad</option>
                                            <option value="Referral">Referral</option>
                                        </select>
                                    </div>
                                     <div class="columns large-6 medium-6 small-12">
                                       <div class="row">
                                          <div class="columns large-12 medium-12 small-12">
                                              <label for="preferences"> Your Preferences (optional)</label>
                                          </div>
                                          <div class="columns large-12 medium-12 small-12">
                                               <input id="receive-emails" type="checkbox"><label for="receive-emails">I want to receive emails about news & offers!</label>
                                           </div>
                                           <div class="columns large-12 medium-12 small-12">
                                               <input id="receive-texts" type="checkbox"><label for="receive-texts">I want to receive text messages about news & offers!</label>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                             <div class="continue-section">
                                    <div class="row">
                                        <div class="columns large-12 medium-12 small-12">
                                            <div class="validation-error">Please fix the errors above to proceed.</div>
                                        </div>
                                        <div class="columns large-12 medium-12 small-12">
                                            <a href=""> Previous Step</a>
                                            <div class="reminder">You'll have the chance to review your choices and your enrollment will be reviewed before any payment is collected.</div>
                                            <a href="" class="button aceenrollnow">Continue</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="cart-section">
                        <a href=""><div class="cart-title inactive">Choose Your Payment Options</div></a>
                        <div class="cart-form">
                            <div class="row payment-options">
                                <div class="columns large-12 medium-12 small-12">
                                    <p class="pay-instruct">Instructional text can go here. Describe the different payment options and how to pick between them. Ultimately, a comparison of costs between options would be good to include clearly here. If a user has different types of courses that have different payment options, explain that here.</p>
                                </div>
                                <div class="columns large-12 medium-12 small-12 pay-boxes">
                                    <a href=""><div class="pay-amt payment-active">Full Amount: <span>$658.00</span></div></a>
                                    <a href=""><div class="pay-amt">Three Equal Payments: <span>$219.33 each</span></div></a>
                                </div>
                                <div class="columns large-12 medium-12 small-12">
                                    <h4>Please select a payment option below:</h4>
                                </div>
                                <div class="columns large-4 medium-4 small-12">
                                   <a href=""><div class="pay-type pay-active"><i class="fa fa-credit-card" aria-hidden="true"></i>Credit / Debit Card</div></a>
                                </div>
                                <div class="columns large-4 medium-4 small-12">
                                   <a href=""><div class="pay-type"><i class="fa fa-money" aria-hidden="true"></i>Checking / Savings</div></a>
                                </div>
                                <div class="columns large-4 medium-4 small-12">
                                    <a href=""><div class="pay-type"><i class="fa fa-paypal" aria-hidden="true"></i>Paypal</div></a>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="lined-title columns large-12 medium-12 small-12">
                                    <div class="gray-line1"></div>
                                    <p class="lined-title-name">Billing Address</p>
                                    <div class="gray-line2"></div>
                                </div>
                            </div>
                            <div class="personal-details shipping-info">
                               <div class="row">
                                <div class="columns large-12 medium-12 small-12">
                                    <div class="same-address"><input name="shippingaddress" id="shippingaddress" type="checkbox"><label for="shippingaddress">Same as shipping address</label></div>
                                </div>
                                   <div class="columns large-6 medium-6 small-12">
                                    <label for="first-name">Student First Name</label>
                                    <input id="first-name" name="first-name" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="last-name">Student Last Name</label>
                                    <input id="last-name" name="last-name" type="text">
                                </div>
                                  <div class="columns large-6 medium-6 small-12">
                                    <label for="address">Address</label>
                                    <input id="address" name="address" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="address-2">Address 2 (optional)</label>
                                    <input id="address-2" name="address-2" type="text">
                                </div>
                                 <div class="columns large-6 medium-6 small-12">
                                    <label for="city">City</label>
                                    <input id="city" name="city" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                  <div class="row">
                                       <div class="columns large-6 medium-6 small-12">
                                            <label for="state">State</label>
                                           <select id="state" name="state">
                                              <option value="AK">AK</option>
                                              <option value="AL">AL</option>
                                              <option value="AR">AR</option>
                                              <option value="AZ">AZ</option>
                                              <option value="CA">CA</option>
                                              <option value="CO">CO</option>
                                              <option value="CT">CT</option>
                                              <option value="DC">DC</option>
                                              <option value="DE">DE</option>
                                              <option value="FL">FL</option>
                                              <option value="GA">GA</option>
                                              <option value="HI">HI</option>
                                              <option value="IA">IA</option>
                                              <option value="ID">ID</option>
                                              <option value="IL">IL</option>
                                              <option value="IN">IN</option>
                                              <option value="KS">KS</option>
                                              <option value="KY">KY</option>
                                              <option value="LA">LA</option>
                                              <option value="MA">MA</option>
                                              <option value="MD">MD</option>
                                              <option value="ME">ME</option>
                                              <option value="MI">MI</option>
                                              <option value="MN">MN</option>
                                              <option value="MO">MO</option>
                                              <option value="MS">MS</option>
                                              <option value="MT">MT</option>
                                              <option value="NC">NC</option>
                                              <option value="ND">ND</option>
                                              <option value="NE">NE</option>
                                              <option value="NH">NH</option>
                                              <option value="NJ">NJ</option>
                                              <option value="NM">NM</option>
                                              <option value="NV">NV</option>
                                              <option value="NY">NY</option>
                                              <option value="OH">OH</option>
                                              <option value="OK">OK</option>
                                              <option value="OR">OR</option>
                                              <option value="PA">PA</option>
                                              <option value="RI">RI</option>
                                              <option value="SC">SC</option>
                                              <option value="SD">SD</option>
                                              <option value="TN">TN</option>
                                              <option value="TX">TX</option>
                                              <option value="UT">UT</option>
                                              <option value="VA">VA</option>
                                              <option value="VT">VT</option>
                                              <option value="WA">WA</option>
                                              <option value="WI">WI</option>
                                              <option value="WV">WV</option>
                                              <option value="WY">WY</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                                 <div class="row">
                                    <div class="lined-title columns large-12 medium-12 small-12">
                                        <div class="gray-line1"></div>
                                        <p class="lined-title-name">Card Information</p>
                                        <div class="gray-line2"></div>
                                    </div>
                                </div>
                            <div class="personal-details">
                                <div class="row">
                                 <div class="columns large-6 medium-6 small-12">
                                    <label for="cardnumber">Credit / Debit Card Number</label>
                                    <input id="cardnumber" name="cardnumber" type="text">
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                  <div class="row">
                                       <div class="columns large-3 medium-3 small-6">
                                            <label for="expiration">Expiration</label>
                                           <select id="expmonth" name="expmonth">
                                                 <option value="01">01</option>
                                                 <option value="02">02</option>
                                                 <option value="03">03</option>
                                                 <option value="04">04</option>
                                                 <option value="05">05</option>
                                                 <option value="06">06</option>
                                                 <option value="07">07</option>
                                                 <option value="08">08</option>
                                                 <option value="09">09</option>
                                                 <option value="10">10</option>
                                                 <option value="11">11</option>
                                                 <option value="12">12</option>
                                            </select>
                                        </div>
                                         <div class="columns large-3 medium-3 small-6">
                                           <select id="expyear" name="expyear">
                                                 <option value="2017">2017</option>
                                                 <option value="2018">2018</option>
                                                 <option value="2019">2019</option>
                                                 <option value="2020">2020</option>
                                                 <option value="2021">2021</option>
                                                 <option value="2022">2022</option>
                                                 <option value="2023">2023</option>
                                                 <option value="2024">2024</option>
                                                 <option value="2025">2025</option>
                                                 <option value="2026">2026</option>
                                                 <option value="2027">2027</option>
                                                 <option value="2028">2028</option>
                                                 <option value="2029">2029</option>
                                                 <option value="2030">2030</option>
                                            </select>
                                        </div>
                                        <div class="columns large-6 medium-6 small-12">
                                            <label for="zipcode">CVV Number</label>
                                            <input id="cvv" name="cvv" type="text">
                                       </div>
                                   </div>
                                </div>

                                <div class="columns large-12 medium-12 small-12">
                                    <input type="checkbox"><label for="prepaid">This is a prepaid card.</label>
                                </div>
                            </div>
                            </div>
                                 <div class="pricing">
                                    <div class="row">
                                        <div class="columns large-offset-6 medium-offset-6 large-6 medium-6 small-12">
                                                <p>Subtotal</p>
                                                <p class="cost">$658.00</p>
                                        </div>
                                        <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                            <p>Voucher</p>
                                            <input type="text"><a href="" class="button course-search-btn">Apply</a>
                                        </div>
                                        <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                            <p>Total</p>
                                            <p class="cost">$658.00</p>
                                        </div>
                                    </div>
                                </div>
                            <div class="continue-section">
                                <div class="row">
                                    <div class="columns large-12 medium-12 small-12">
                                        <div class="validation-error">Please fix the errors above to proceed.</div>
                                    </div>
                                    <div class="columns large-12 medium-12 small-12">
                                        <a href=""> Previous Step</a>
                                        <div class="reminder">You'll have the chance to review your choices and your enrollment will be reviewed before any payment is collected.</div>
                                        <a href="" class="button aceenrollnow">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-section cart-review">
                        <a href=""><div class="cart-title inactive">Review Your Cart</div></a>
                        <div class="cart-form">
                               <div class="row">
                                <div class="columns large-12 medium-12 small-12">
                                    <p class="pay-instruct">Instructional text can go here. Describe the different payment options and how to pick between them. Ultimately, a comparison of costs between options would be good to include clearly here. If a user has different types of courses that have different payment options, explain that here.</p>
                                   </div>
                                </div>

                            <div class="cart-section">
                                <a href=""><div class="cart-title review-title">Cart Details</div></a>
                        <div class="cart-form">
                          <div class="row">
                            <div class="cart-contents">
                                <div class="row table-labels">
                                    <div class="columns large-2 medium-2 small-12">
                                        <p>Order</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p>Title</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p>Materials Format</p>
                                    </div>
                                    <div class="columns large-4 medium-4 small-12">
                                        <p>Cost</p>
                                    </div>
                                </div>
                                <div class="cart-item">
                                  <div class="row">
                                    <div class="columns large-2 medium-2 small-12">
                                      <p>1</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p class="">Title of this Course</p>
                                    </div>
                                     <div class="columns large-3 medium-3 small-12">
                                        <p></p>
                                    </div>
                                    <div class="columns large-4 medium-4 small-12">
                                        <p class="cost">$329.00</p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="pricing">
                                <div class="row">
                                    <div class="columns large-offset-6 medium-offset-6 large-6 medium-6 small-12">
                                            <p>Subtotal</p>
                                            <p class="cost">$658.00</p>
                                    </div>
                                    <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                        <p>Voucher</p>
                                        <p class="voucher-code">coupon1</p>
                                    </div>
                                    <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12 pricing-total">
                                        <p>Total</p>
                                        <p class="cost">$658.00</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                                                       <div class="cart-section">
                             <a href=""><div class="cart-title review-title">Personal Details</div></a>
                        <div class="cart-form">
                           <div class="personal-details">
                            <div class="row">
                            <div class="columns large-6 medium-6 small-12">
                                <div class="row">
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Student First Name</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Jane</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Student Last Name</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Doe</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Email</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>janedoe@gmail.com</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Phone Number</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>555-555-1234</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                         <p class="label-review">Gender</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Female</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                       <p class="label-review">Date of Birth</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                       <p>10/31/1992</p>
                                   </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Address</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>212 Elm Street</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Address 2 (optional)</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>n/a</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">City</p>
                                     </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Somerville</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">State</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>MA</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">ZIP Code</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>02144</p>
                                    </div>
                                </div>
                            </div>

                            <div class="columns large-6 medium-6 small-12">
                                <div class="row">
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Highest Level of Education</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>High School Diploma / GED</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Returning Student?</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Yes</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">How Did you Hear About Us?</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Email</p>
                                    </div>
                                     <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Receive Emails?</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Yes</p>
                                    </div>
                                     <div class="columns large-6 medium-6 small-6">
                                        <p class="label-review">Receive Text Messages?</p>
                                    </div>
                                    <div class="columns large-6 medium-6 small-6">
                                        <p>Yes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                    <div class="cart-section">
                          <a href=""><div class="cart-title review-title">Payment Details</div></a>
                        <div class="cart-form">
                            <div class="row payment-options">
                                <div class="columns large-12 medium-12 small-12 pay-boxes">
                                    <a href=""><div class="pay-amt payment-active">Full Amount: <span>$658.00</span></div></a>
                                    <!-- <a href=""><div class="pay-amt">Three Equal Payments: <span>$219.33 each</span></div></a> -->
                                </div>
                                <div class="columns large-12 medium-12 small-12">
                                    <h4>Payment Option:</h4>
                                </div>
                                <div class="columns large-12 medium-12 small-12">
                                   <a href=""><div class="pay-type pay-active"><i class="fa fa-credit-card" aria-hidden="true"></i>Credit / Debit Card</div></a>
                                </div>

                            </div>
                            <div class="row">
                                    <div class="lined-title columns large-12 medium-12 small-12">
                                    <div class="gray-line1"></div>
                                    <p class="lined-title-name">Billing Address</p>
                                    <div class="gray-line2"></div>
                                </div>
                            </div>
                            <div class="personal-details shipping-info">
                               <div class="row">
                                <div class="columns large-12 medium-12 small-12">
                                    <div class="same-address"><input name="shippingaddress" id="shippingaddress" type="checkbox"><label for="shippingaddress">Same as shipping address</label></div>
                                </div>
                                   <div class="columns large-6 medium-6 small-12">
                                    <label for="first-name">Student First Name</label>
                                   <p>Jane</p>
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="last-name">Student Last Name</label>
                                   <p>Doe</p>
                                </div>
                                  <div class="columns large-6 medium-6 small-12">
                                    <label for="address">Address</label>
                                    <p>212 Elm Street</p>
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                    <label for="address-2">Address 2 (optional)</label>
                                    <p></p>
                                </div>
                                 <div class="columns large-6 medium-6 small-12">
                                    <label for="city">City</label>
                                    <p>Somerville</p>
                                </div>
                                <div class="columns large-6 medium-6 small-12">
                                  <div class="row">
                                       <div class="columns large-6 medium-6 small-12">
                                            <p>MA</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                                 <div class="row">
                                    <div class="lined-title columns large-12 medium-12 small-12">
                                        <div class="gray-line1"></div>
                                        <p class="lined-title-name">Card Information</p>
                                        <div class="gray-line2"></div>
                                    </div>
                                </div>
                            <div class="personal-details">
                                <div class="row">
                                     <div class="columns large-6 medium-6 small-12">
                                        <label for="cardnumber">Card Ending in: </label>
                                       <p>1234</p>
                                    </div>
                                </div>
                            </div>
                                 <div class="pricing">
                                    <div class="row">
                                        <div class="columns large-offset-6 medium-offset-6 large-6 medium-6 small-12">
                                                <p>Subtotal</p>
                                                <p class="cost">$658.00</p>
                                        </div>
                                        <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                            <p>Voucher</p>
                                            <input type="text"><a href="" class="button course-search-btn">Apply</a>
                                        </div>
                                        <div class="columns large-6 medium-6 large-offset-6 medium-offset-6 small-12">
                                            <p>Total</p>
                                            <p class="cost">$658.00</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
  

