<section class="key-benefits">
    <div class="row">
        <div class="columns large-12 medium-12 small-12">
            <div class="ace-title"><h2>course details</h2><p>Our Courses Are...</p></div>
        </div>
    </div>

    <div class="row benefit-blocks desktoponly">
        <div class="columns large-3 medium-3 small-12">
            <div class="ace-benefits">
                <img src="/assets/images/homeaceicon1.png" alt="">
                <div class="b-title">Ace Reviewed<a href="#" data-open="myModal-0"><div class="orange-expand"><span class="ion-ios-plus-empty"></span></div></a></div>
                <!--<p>Our college courses are recommended by ACE for transferability.</p>-->
<p>American Council on Education (ACE CREDIT) has evaluated and recommended these courses for college credit.</p>
            </div>
        </div>
        <div class="columns large-3 medium-3 small-12">
            <div class="ace-benefits">
                <img src="/assets/images/homeaceicon2.png" alt="">
                <div class="b-title">Affordable<a href="#" data-open="myModal-1"><div class="orange-expand"><span class="ion-ios-plus-empty"></span></div></a></div>
                <!--<p>Each course is $329 which includes all books and learning materials.</p>-->
<p>Our individual college courses are only $329, which includes all of your books, learning materials, and support.</p>
            </div>
        </div>
         <div class="columns large-3 medium-3 small-12">
             <div class="ace-benefits">
                <img src="/assets/images/homeaceicon3.png" alt="">
                <div class="b-title">Online<a href="#" data-open="myModal-2"><div class="orange-expand"><span class="ion-ios-plus-empty"></span></div></a></div>
                <p>Take courses online and use our easy-to-access resources to get help from our faculty and success coaches.</p>
             </div>
        </div>
         <div class="columns large-3 medium-3 small-12">
             <div class="ace-benefits">
                <img src="/assets/images/homeaceicon4.png" alt="">
                <div class="b-title">Self-paced<a href="#" data-open="myModal-3"><div class="orange-expand"><span class="ion-ios-plus-empty"></span></div></a></div>
                <p>Courses start when you are ready. Work when you want, where you want, and at a pace that’s comfortable for you.</p>
             </div>
        </div>
    </div>
    <div class="benefit-blocks-mobile mobileonly"></div>
    <div class="row ace-transfers">
        <div class="columns large-12 medium-12 small-12">
            <div class="ace-title"><h2 class="ion-arrow-right-a arrow"></h2><p class="arrow-p">Transferring Made Easy</p></div>
        </div>
            <div class="columns large-4 medium-4 small-12 border-block-arrows">
            <span class="orange-arrow-1 ion-ios-arrow-thin-right"></span>
            <div class="border-block">
                <div class="blue-circle"><p>1</p></div>
                <h4>Check with your college</h4>
                <p>We recommend that students check with the college they plan on attending to see if they accept Penn Foster College credits.&sup1;</p>
            </div>
        </div>
         <div class="columns large-4 medium-4 small-12 border-block-arrows">
           <span class="orange-arrow-1 ion-ios-arrow-thin-right"></span>
           <div class="border-block">
                <div class="blue-circle"><p>2</p></div>
                <h4>Click or Call to Enroll</h4>
                <p>Choose from over 80 ACE reviewed college courses that you can start today. Work at your own pace with the help of expert faculty and staff.</p>
           </div>
        </div>
         <div class="columns large-4 medium-4 small-12">
           <div class="border-block">
                <div class="blue-circle"><p>3</p></div>
                <h4>Submit your official transcripts</h4>
                <p>Once you have completed your courses, request your official transcripts to send to your college to transfer your credits.</p>
            </div>
        </div>
    </div>
</section>
<div id="myModal-0" class="reveal large" data-reveal data-overlay="false">
          <div class="row">
              <div class="columns large-7 medium-7 small-6">
                  <h4>Transferring Credits</h4>
                    <p>Penn Foster College credits have been accepted for transfer into colleges across the country. The American Council on Education’s College Credit Recommendation Service (<a href="http://www2.acenet.edu/credit/?fuseaction=browse.getOrganizationDetail&FICE=191627" title="ACE CREDIT" target="_blank">ACE CREDIT</a>) has also evaluated and recommended college credits for the Penn Foster College individual courses we offer. However, we recommend that students check with specific colleges to see if they accept our credits, as no form of accreditation guarantees that transfer credits will be accepted. <a href="~/link.aspx?_id=0F03900BBC6C4618812E5D5EB135D75F&amp;_z=z" title="Learn more about transferring credits">You can learn more about transferring credits here.</a></p>
              </div>
              <div class="columns large-5 medium-5 small-6">
                    <img src="/assets/images/homeaceicon1.png" alt="">
              </div>
          </div>
           <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
     </div>
     <div id="myModal-1" class="reveal large" data-reveal data-overlay="false">
          <div class="row">
              <div class="columns large-7 medium-7 small-6">
                  <h4>Affordable</h4>
                  <!--<p>Take college credits without breaking the bank. Choose between paying in full for a discount or enroll in month-by-month payment plan to fit your budget. Our financial coaches can help you pick a plan that works for you.</p>-->
<p>Take college credits without breaking the bank. If you are interested in enrolling in more than one course, please call <a href="tel:1-800-238-9554">1-800-238-9554</a>. An Admissions Specialist can help you get started today.</p>
              </div>
              <div class="columns large-5 medium-5 small-6">
                   <img src="/assets/images/homeaceicon2.png" alt="">
              </div>
          </div>
           <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
     </div>
      <div id="myModal-2" class="reveal large" data-reveal data-overlay="false">
          <div class="row">
              <div class="columns large-7 medium-7 small-6">
                  <h4>Online Classes</h4>
                  <p>Our college courses are 100% online so you can learn when you want and where you want. Need help? Our on-demand library and Student Community are available 24/7. If you need more individual support, Penn Foster is available over chat, text, email or by phone.</p>
              </div>
              <div class="columns large-5 medium-5 small-6">
                   <img src="/assets/images/homeaceicon3.png" alt="">
              </div>
          </div>
           <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
     </div>
      <div id="myModal-3" class="reveal large" data-reveal data-overlay="false">
          <div class="row">
              <div class="columns large-7 medium-7 small-6">
                  <h4>Self-Paced</h4>
                  <p>You choose when and where you learn and set your own study schedule. Can’t finish a complete lesson? No problem - you can stop and pick up right where you left off at any time.</p>
              </div>
              <div class="columns large-5 medium-5 small-6">
                   <img src="/assets/images/homeaceicon4.png" alt="">
              </div>
          </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
     </div>