<div class="ace-hero">
 <div class="hero-container">  
        <div class="banner-text">
            <div class="main-heading">Study Online</div>
            <div class="sub-heading">Earn College Credit</div>
            <a href="#coursecategories" title="View Course Categories"><button class="button"><span>Find Your Course Today!</span><i class="ion-arrow-right-c" aria-hidden="true"></i></button></a>
         </div>
  <div class="reviews-vid">
    <video [attr.data-video-id]="id" [attr.data-account]="account" [attr.data-player]="def" [attr.data-embed]="def" class="video-js" controls loop autoplay></video>
</div>
  </div>
    <div class="underbox">
       <div class="row">
          <div class="columns large-7 medium-7 small-12">
             <p>Jump-start your college education, earn credits toward a degree, or learn new skills. Choose from courses in business, education, math & science, and more!</p>
          </div>
          <div class="columns large-5 medium-5 small-12">
             <div class="red-hero"><h4>Affordable cost.<br> Great value. <br><br><span class="ace-price">$329</span><span class="red-span"> PER COURSE</span></h4><p></p></div>
          </div>
      </div>
   </div>
</div>